// Breakpoints

$bpLarge: 1170px; //1200px
$BPmedium: 970px; //992px
$BPsmall: 750px;
$BPextraSmall: auto;  //768px

// Colors

$limo-black: black;
$limo-dark-gray: #0b0b0b;
$limo-gray: #797878;
$limo-gray2: #828181;
$limo-light-gray: #ececec;
$limo-light-gray2: #dadada;
$limo-txt: #111111;
$limo-txt-white: white;
$limo-txt-hl: #db3361;
$limo-skyblue1: #daf8f8;
$limo-skyblue2: #b6f2f2;
$limo-skyblue3: #f1fcfc;
$limo-skyblue-dark: #6ca5a5;
$limo-unactive: #b2b2b2;

// Font sizes

$font-xs: 11px;
$font-sm: 12px;
$font-md: 16px;
$font-lg: 20px;
$font-header: 40px;